@tailwind base;
@tailwind components;
@tailwind utilities;

/* TOC:
a. General Styles
b. Header Styles
c. About Section
d. Resume Section
e. Portfolio Section
f. Call To Action Section
g. Testimonials Section
h. Contact Section
i. Footer */

/* a. General Styles */
 /* @import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");  */





body { background: #0f0f0f; }

a {
  color: inherit;
  text-decoration: none;
}



@layer components {

 


  .portfolioNavBar-enter {
    @apply opacity-0   ;

  }
  .portfolioNavBar-enter-active {
    @apply opacity-100 transition ease-in duration-150 bg-gray-700 ;

  }
  .portfolioNavBar-exit {
    @apply opacity-100 bg-gray-700;
  }
  .portfolioNavBar-exit-active {
    @apply opacity-0 transition ease-in-out duration-500 bg-gray-700 ;
 
  }


  .carosel-enter {
     @apply 
     transition-all 
     duration-[2000] 
     ease-in-outo
      bg-opacity-0
      absolute
  }
  .carosel-enter-active {
    @apply 
    transform 
    translate-y-0 
    bg-opacity-100
    absolute
  }
  .carosel-exit {
    @apply 
    transition-all 
    duration-[2000] 
    ease-in-out
     bg-opacity-100 
     absolute
    
  }
  .carosel-exit-active {
    @apply 
    transform
     translate-y-full
       bg-opacity-0
       absolute
  }
 



  header {
    @apply  
    h-[100vh]
    min-h-[300px]
    bg-[#161415]
    bg-top 
    bg-center
    bg-cover 
    text-center
    bg-[url(.././assets/images/header-background.jpg)];
  }

  header .banner {
    @apply 
    mt-0 
    pb-0 
    h-full;
  }

  header .banner-text {
    @apply w-full
    z-0
  }

  header .banner-text h1 {
    @apply font-[opensans-bold] 
    font-medium
    text-white
    tracking-tighter 
    m-0 mb-2
    text-6xl 
    drop-shadow-sm;
  }

  header .banner-text h3 {
    @apply font-[librebaskerville-regular]
    text-white
    m-0 
    m-auto 
    w-9/12
    text-2xl
    drop-shadow-sm;
  }

  header .banner-text hr {
    @apply w-7/12 
    mt-4 
    mr-auto
    mb-6
    ml-auto

   border-[#969696]
   border-opacity-10;
  }


  header .social {
    @apply mt-6 
    mr-0 
    p-0  
    text-3xl
    drop-shadow-sm;
  }
  header .social li {
    @apply inline-block
    mt-0
    mr-4
    p-0;
  }
  header .social li a {
    @apply text-white;
  }
  header .social li a:hover {
    @apply text-[#11ABB0];
  }


  header .scrolldown a {
    @apply absolute 
    bottom-8 
    left-2/4
    -ml-7 
    text-black
    
    h-11
    w-11
    text-5xl 
    leading-10
    rounded-[100%]
    transition delay-150 ease-in-out;
  }
  header .scrolldown a:hover {
    @apply text-[#11ABB0];
  }


  #nav {
    @apply 
    flex
    
  }
 

  .opaque {
    @apply bg-[#333];
  }


  ul#nav {
    @apply min-h-[48px] 
    flex
    justify-center
   
    text-center
    tracking-[0.2em]
    top-0
    pt-4
    transition ease-in-out delay-1000
    
  }

  ul#nav li {
    @apply 
    list-none

    h-14
    
  }

  ul#nav li a {

    @apply font-semibold	
    
    pt-2 
    pr-3 
    leading-8
    no-underline
    text-white
    text-left
  
    transition ease-in-out delay-150;
  }

  ul#nav li a:active {
    @apply bg-transparent;
  }



  .desktop {
    @apply 
    
    flex
    fixed
    w-full
    justify-center
    text-center
    text-white 
    
    pt-4
    

    
   
    
  }
  .desktop.active {
    @apply
    pb-2  
    transition-opacity 
    duration-1000 
    ease-out opacity-100  
    bg-gray-800
  }

  .desktop ul {

    @apply flex 
    justify-center
    space-x-3 
    tracking-wider
    font-bold
  }

  .desktop li.current a {
    @apply 
    text-[#F06000] font-bold
   
  }
  .desktop li a.current {
    @apply 
    text-red-500 font-bold
   
  }
  
  .mobile {
    @apply 
    text-white
    flex
    w-full
    fixed
    justify-center
    items-center
    pt-2
    z-10
    
  
   
    
  }

  
  .mobile ul {
    @apply 
    flex
    flex-col
    
    bg-[#1f2024]
    pt-4
    pb-6
    pr-8
    pl-8
    w-11/12
    sm:w-8/12 
    justify-center
    text-center
    text-white 
    tracking-wider
    
  

    
    
  }

  .mobile ul li {
    @apply 
    list-none
    h-14
    border-b
    pt-2
    border-white
    border-opacity-10
    

   
  }


  .mobile li.current {
    @apply 
    text-red-500 font-bold
    

    
  }

  .mobile li a.current {
    @apply 
    text-red-500 font-bold
    

    
  }



    
  
    .mobile-button {
      @apply 
      md:hidden
     text-orange-600 
      pt-4 
      pl-4 
      text-5xl 
      text-center
     
      transition ease-in-out delay-1000
    }
    
   










  

  .scrolldown a:hover {
    @apply text-[#11ABB0];
  }



  #about {
    @apply bg-[#2B2B2B] 
    pt-24 
    pb-16 
    flex
    justify-center
    overflow-hidden
     w-full;
  }

  #about a,
  #about a:visited {
    @apply text-white;
  }
  #about a:hover,
  #about a:focus {
    @apply text-[#11ABB0];
  }

  #about h2 {
    @apply 
  text-white 
    text-xl 
    leading-tight
    mb-2 mt-2;
  }
  #about p {
    @apply leading-7 
    text-gray-400
  }
  #about .profile-pic {
    @apply 
    w-32  
    h-32 
    rounded-[120px];
  }
  #about .contact-details {
    @apply w-5/12;
  }
  #about .download {
    @apply w-7/12 
     pt-2;
  }
  #about .main-col {
    @apply pr-[5%];
  }
  #about .download .button {
    @apply mt-2 
    bg-[#444];
  }
  #about .download .button:hover {
    @apply bg-[#fff] 
    text-[#2B2B2B];
  }
  #about .download .button i {
    @apply mr-4 
    text-2xl;
  }






  #resume {
    @apply 
    
  
    overflow-hidden
  
    w-full;
  }


  #resume h1 {
    @apply font-[opensans-bold] 
    text-2xl 
    leading-tight 
    mb-6
    mt-2 
    ml-6
    uppercase;
  }
  #resume h1 span {
    @apply border-b-4
    border-b-[#11ABB0] 
    pb-2;
  }
  #resume h3 {
    @apply font-[opensans-bold] 
    text-xl 
    leading-tight 
    mb-4 mt-2 uppercase;
  }

  #resume .header-col {
    @apply pt-2;
  }
  #resume .main-col {
    @apply ;
  }

  .education,
  .skill,
  .work {
    @apply mb-12 
    pb-5 
    border-b-[#E8E8E8];
  }

  #resume .info {
    @apply
     font-[librebaskerville-italic]
     text-[#6E7881] mb-4 mt-2;
  }
  #resume .info span {
    @apply  
    ml-1;
  }
  #resume .date {
    @apply font-[opensans-regular];
  }

 

#portfolio {
  @apply bg-[#ebeeee]  pb-[60px]

}


#portfolio-wrapper {
 
}




  #contact {
    @apply 

    bg-white
    
    pb-28 
    text-[rgb(99,99,99)]
    w-full

  }
  


   #contact form {
    @apply mb-10;
  }
  #contact label {
    @apply 
    mb-2 
    text-lg
     font-medium
    text-[#4c5054]
     
  }
  #contact input  {
    @apply 
    bg-gray-50 border 
    border-gray-300 
    text-gray-900 
    text-sm rounded-lg
     focus:ring-blue-500
      focus:border-blue-500
       block 
       w-full
        p-2.5 
        dark:bg-gray-700
         dark:border-gray-600 
         dark:placeholder-gray-400
          dark:text-white
           dark:focus:ring-blue-500
            dark:focus:border-blue-500
  }


  #contact textarea {
    @apply  
    bg-gray-50
     border
      border-gray-300
       text-gray-900
        text-sm rounded-l
         focus:ring-blue-500
          focus:border-blue-500
           block 
           w-full
            p-2.5
            cursor-pointer mb-2
    
  }

  
  #contact button.submit {
    @apply uppercase 
    tracking-wide 
    text-white 
    bg-[#0D0D0D] 
    mb-10 
    border-none 
    cursor-pointer 
    h-auto 
    inline-block 
    rounded-2xl 
    
  }
  #contact button.submit:hover {
    @apply bg-white
    text-[#0D0D0D];
  }

 


  footer {
    @apply pt-12 pb-12 text-[#303030] text-sm  text-center relative;
  }

  footer a,
  footer a:visited {
    @apply text-[#525252];
  }
  footer a:hover,
  footer a:focus {
    @apply text-white;
  }

  /* copyright */
  footer .copyright {
    @apply 
    m-0 p-0;
  }
  footer .copyright li {
    @apply 
    m-0 p-0 
    leading-6;
  }
  .ie footer .copyright li {
    @apply inline;
  }

  footer .copyright li:first-child:before {
    @apply hidden;
  }


  footer .social-links {
    @apply 
    ml-10 
    p-0 
    text-5xl;
  }
  footer .social-links li {
    @apply m-0 
     p-0 
     ml-10 
    
  }

  footer .social-links li:first-child {
    @apply ml-0;
  }


  #go-top {
    @apply 
    absolute 
    -top-6  
    left-[50%]
    ml-auto;
  }
  #go-top a {
    @apply
    no-underline 
    border-none 
    block
    w-16
    h-16 
    rounded-[100%]
    transition-all
    duration-300 
    ease-in-out transform
  text-white 
    text-6xl 
    -ml-7 
   
  }

}
